.item {
  height:10%;
  padding: 5px 5px;
  margin: 2em 1.5em;
  border-radius: 20px;
  max-width: calc(100vw- 82px);
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border: 1px solid rgba(var(--lightGrey), 1);
}

.card {
  min-height: 100%;
  width: 50%;
  float: right;
  margin-left: 2em;
}

.card-image {
  display: flex;
  height: 65%;
}

.item img {
  float: left;
  width: 8em;
  height: 12em;
}
 p{
   color: black;
 }
.content {
  box-sizing: border-box;
  margin-left: 2em;
}
